<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>Fibonacci</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-css-bootstrap-magic.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/ajax_table_example.js') }}"></script> -->

</head>
<body>


<h2> Fibonacci Generator </h2>

<div class="container">

<form enctype="multipart/form-data" action='download' method="POST">
    <div class="form-row mb-3">
      <div class="input-group col-sm-8">
          <div class="input-group-prepend">
            <button type="button" id="ajax_data_load" class="btn btn-secondary fixed-button-size">Generate</button>
          </div>
            <select name="user" class="custom-select fixed-button-size">
                <option value="one">Option..</option>
                <option value="one">One</option>
                <option value="two">Two</option>
            </select>
      </div>
    </div>
</form>

<table id="jds-example" class="table">
    <thead>
        <tr>
            <th scope="col">Term</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">1</td>
            <td scope="row">1</td>
        </tr>
    </tbody>
</table>

</div>


</body>
</html>


